.bot {
    background-color: beige;
    width: 250px;
    float: left;
    border-radius: 20px;
    padding: 20px;
}

.bot-img {
     float: left; 
     margin: 5px;
}

.user {
    background-color:#74b9ff;
    width: 250px;
    float: right;
    border-radius: 20px;
    padding: 20px;
}

.user-img {
    float: right;
    margin: 5px;
}

li {
    box-shadow: 2px 3px 4px #999;
    margin-bottom: 10px;
}

.chat-box {
    overflow-y: scroll;
    font-size: 11px;
}

