<div class="row">
  <div class="col-xs-12">
    <!-- Chat messages -->
    <app-reverse-chat *ngFor="let message of messages; let i = index" [chat]="message"></app-reverse-chat>
  </div>
  <!-- Response form -->
  <div class="col-xs-12" style="margin-top: 20px; margin-bottom: 30px;">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="inputResponse" (keydown.enter)="onSend()">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" (click)="onSend()">Send</button>
      </span>
    </div>
  </div>
</div>